plus.google.com
twitter.com
facebook.com
douban.com

reader.google.com
reddit.com
news.ycombinator.com
hckrnews.com
slashdot.org
infoq.com
digg.com
yelp.com
solidot.org
v2ex.com

tumblr.com
pinterest.com
digg.com
delicious.com
stumbleupon.com

youtube.com
youku.com

tieba.baidu.com
2ch.net
